In [162]:
import pandas as pd
import funciones
import conexion_bd
import openpyxl

Traemos los datasets que representan la telefonia fia

In [181]:
# Nacional
df_acceso_total_tel_fija= pd.read_excel("../Data/Telefonia_fija/Nacional/Totalnacionaldeaccesosatelefoniafija_2416801699266561814.xlsx")
df_ingresos_trim_tele_fija = pd.read_excel("../Data/Telefonia_fija/Nacional/Ingresostrimestralesporlaprestaciondelserviciodetelefoniafija_2416831699267598294.xlsx")

# Provincia
df_acceso_provincia_tel_fija= pd.read_excel("../Data/Telefonia_fija/Provincia/Accesosdetelefoniafijaporprovinciahogarescomercialesgobiernoyotros_2491271699268580619.xlsx")

c:\Users\Dell\Telecomunicaciones\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\Dell\Telecomunicaciones\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\Dell\Telecomunicaciones\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Comenzamos abriendo el conjunto de datos que representa el acceso a la telefonia fija anivel nacional

In [166]:
# Abrimos dataset Acceso telefonia fija nacional
df_acceso_total_tel_fija

,Año,Trimestre,Accesos telefonía fija (total),Accesos telefonía fija (hogares),Accesos telefonía fija (comercial),Accesos telefonía fija (gobierno),Accesos telefonía fija (otros),Periodo
0,2014,1,9562231,7897980,1065834,30917,567500,Ene-Mar 2014
1,2014,2,9548994,7872511,1073038,31339,572106,Abr-Jun 2014
2,2014,3,9613361,7924613,1091747,32516,564485,Jul-Sept 2014
3,2014,4,9689752,7989623,1106502,33139,560488,Oct-Dic 2014
4,2015,1,10086221,8358053,1134427,36888,556853,Ene-Mar 2015
5,2015,2,9991190,8291156,1103025,34419,562590,Abr-Jun 2015
6,2015,3,10050617,8364541,1095767,35230,555079,Jul-Sept 2015
7,2015,4,9975798,8380800,1003363,35161,556474,Oct-Dic 2015
8,2016,1,10239381,8950226,721226,37841,530088,Ene-Mar 2016
9,2016,2,10379749,9037000,759247,38093,545409,Abr-Jun 2016
10,2016,3,10130489,8829818,724585,37068,539018,Jul-Sept 2016
11,2016,4,10260812,8971186,721607,37856,530163,Oct-Dic 2016
12,2017,1,10239381,8950226,721226,37841,530088,Ene-Mar 2017
13,2017,2,10379749,9037000,759247,38093,545409,Abr-Jun 2017
14,2017,3,10130489,8829818,724585,37068,539018,Jul-Sept 2017
15,2017,4,10260812,8971186,721607,37856,530163,Oct-Dic 2017
16,2018,1,9666921,8490573,711654,37447,427247,Ene-Mar 2018
17,2018,2,9703699,8638311,712144,38473,314771,Abr-Jun 2018
18,2018,3,9694988,8656721,709503,38828,289936,Jul-Sept 2018
19,2018,4,9805917,8764892,715700,39825,285500,Oct-Dic 2018
20,2019,1,8327400,7360178,655594,34826,276802,Ene-Mar 2019
21,2019,2,8129983,7177951,640458,34264,277310,Abr-Jun 2019
22,2019,3,7892689,7069250,619801,34329,169309,Jul-Sept 2019
23,2019,4,7762812,6942553,618847,34546,166866,Oct-Dic 2019
24,2020,1,7555630,6778310,605915,33415,137990,Ene-Mar 2020
25,2020,2,7463257,6694729,598402,34391,135735,Abr-Jun 2020
26,2020,3,7432548,6712162,542624,36283,141479,Jul-Sept 2020
27,2020,4,7364032,6621370,579315,34155,129192,Oct-Dic 2020
28,2021,1,7200461,6459673,557287,34041,149460,Ene-Mar 2021
29,2021,2,7081716,6378508,545706,34144,123358,Abr-Jun 2021
30,2021,3,7003303,6311742,536500,34225,120836,Jul-Sept 2021
31,2021,4,7626355,6933738,538714,34262,119641,Oct-Dic 2021
32,2022,1,7223205,6452832,627770,26807,115796,Ene-Mar 2022
33,2022,2,7057734,6307810,610291,26749,112884,Abr-Jun 2022
34,2022,3,7024647,6292004,597354,26497,108792,Jul-Sept 2022
35,2022,4,7040872,6307995,594245,27073,111559,Oct-Dic 2022

In [167]:
df_acceso_total_tel_fija.shape

(36, 8)

Obtenemos un dataset que nos muestra o columnas y 36 filas, donde resume el acceso total a la telefonia fija desde el año 2014 hasta el año 2022, asi como tambien el acceso, el acceso de los hogares, los comercios, las instituciones gubernamentales y otros entes

Verificamos si existen datos nulos y el tipo de datos de las columnas

In [168]:
funciones.verificar_datos(df_acceso_total_tel_fija)

,columna,tipo_dato,datos_nulos,porcentaje_nulos,porcentaje_no_nulos
0,Año,[<class 'int'>],0,0.0,100.0
1,Trimestre,[<class 'int'>],0,0.0,100.0
2,Accesos telefonía fija (total),[<class 'int'>],0,0.0,100.0
3,Accesos telefonía fija (hogares),[<class 'int'>],0,0.0,100.0
4,Accesos telefonía fija (comercial),[<class 'int'>],0,0.0,100.0
5,Accesos telefonía fija (gobierno),[<class 'int'>],0,0.0,100.0
6,Accesos telefonía fija (otros),[<class 'int'>],0,0.0,100.0
7,Periodo,[<class 'str'>],0,0.0,100.0

In [169]:
df_acceso_total_tel_fija["Acceso_tel_fia_nacio_id"]= df_acceso_total_tel_fija.index

In [170]:
df_acceso_total_tel_fija.head()

,Año,Trimestre,Accesos telefonía fija (total),Accesos telefonía fija (hogares),Accesos telefonía fija (comercial),Accesos telefonía fija (gobierno),Accesos telefonía fija (otros),Periodo,Acceso_tel_fia_nacio_id
0,2014,1,9562231,7897980,1065834,30917,567500,Ene-Mar 2014,0
1,2014,2,9548994,7872511,1073038,31339,572106,Abr-Jun 2014,1
2,2014,3,9613361,7924613,1091747,32516,564485,Jul-Sept 2014,2
3,2014,4,9689752,7989623,1106502,33139,560488,Oct-Dic 2014,3
4,2015,1,10086221,8358053,1134427,36888,556853,Ene-Mar 2015,4

In [171]:
df_acceso_total_tel_fija.to_sql("acceso_total_tel_fija", con=conexion_bd.engine, index= False, if_exists="append")

36

Ingresos Trimestrales por concepto de servicio de telefonia fia

In [173]:
df_ingresos_trim_tele_fija

     Año  Trimestre  Ingresos (miles de $)
0   2014          1              291607175
1   2014          2              297486520
2   2014          3              310546202
3   2014          4              333969090
4   2015          1              326012475
5   2015          2              342551848
6   2015          3              359088318
7   2015          4              381536412
8   2016          1              419826039
9   2016          2              471876982
10  2016          3              495196766
11  2016          4              496459639
12  2017          1              637568176
13  2017          2              697061722
14  2017          3              666794353
15  2017          4              551433619
16  2018          1              825227999
17  2018          2              791172307
18  2018          3             1011135057
19  2018          4              899715788
20  2019          1             1223856839
21  2019          2             1418105521
22  2019          3             1340456915
23  2019          4             2032157716
24  2020          1             1706759782
25  2020          2             2103552289
26  2020          3             1816202389
27  2020          4             1975030398
28  2021          1             2137866768
29  2021          2             2217875189
30  2021          3             2078999521
31  2021          4             4061605917
32  2022          1               30583344
33  2022          2              312581825
34  2022          3             2969851257
35  2022          4             3235691392

In [174]:
df_ingresos_trim_tele_fija.dtypes

Año                      int64
Trimestre                int64
Ingresos (miles de $)    int64
dtype: object

Observamos que los tipos de datos son correctos, solo normalizaremos las columnas

In [175]:
# agregamos la columna id
df_ingresos_trim_tele_fija["ingresos_id"] = df_ingresos_trim_tele_fija.index

In [177]:
# Eliminamos los espacios y los parentesis de los nombres de las columnas 
df_ingresos_trim_tele_fija.columns = df_ingresos_trim_tele_fija.columns.str.replace(" ", "_") 
df_ingresos_trim_tele_fija.columns = df_ingresos_trim_tele_fija.columns.str.replace("(", "")
df_ingresos_trim_tele_fija.columns = df_ingresos_trim_tele_fija.columns.str.replace(")", "")

In [178]:
df_ingresos_trim_tele_fija.head()

    Año  Trimestre  Ingresos_miles_de_$  ingresos_id
0  2014          1            291607175            0
1  2014          2            297486520            1
2  2014          3            310546202            2
3  2014          4            333969090            3
4  2015          1            326012475            4

Cargamos el dataframe a la base de datos

In [179]:
df_ingresos_trim_tele_fija.to_sql("ingresos_trimestrales_telefonia_fija", con=conexion_bd.engine, index= False, if_exists="append")

36

Acceso a telefonia fija por provincia

In [182]:
df_acceso_provincia_tel_fija

,Año,Trimestre,Provincia,Accesos telefonía fija (total),Accesos telefonía fija (hogares),Accesos telefonía fija (comercial),Accesos telefonía fija (gobierno),Accesos telefonía fija (otros)
0,2022,4,Buenos Aires,3128431,2802796,264038,12029,49568
1,2022,4,Capital Federal,1563142,1400437,131928,6010,24767
2,2022,4,Catamarca,25083,22473,2117,96,397
3,2022,4,Chaco,64683,57950,5459,249,1025
4,2022,4,Chubut,54249,48601,4579,209,860
...,...,...,...,...,...,...,...,...
859,2014,1,Santa Cruz,40625,33555,4528,131,2411
860,2014,1,Santa Fe,770361,636284,85867,2491,45719
861,2014,1,Santiago del Estero,70717,58409,7882,229,4197
862,2014,1,Tierra del Fuego,32631,26951,3637,106,1937
863,2014,1,Tucumán,210917,174209,23509,682,12517

Verificamos datos nulos y tipo de datos

In [183]:
funciones.verificar_datos(df_acceso_provincia_tel_fija)

,columna,tipo_dato,datos_nulos,porcentaje_nulos,porcentaje_no_nulos
0,Año,[<class 'int'>],0,0.0,100.0
1,Trimestre,[<class 'int'>],0,0.0,100.0
2,Provincia,[<class 'str'>],0,0.0,100.0
3,Accesos telefonía fija (total),[<class 'int'>],0,0.0,100.0
4,Accesos telefonía fija (hogares),[<class 'int'>],0,0.0,100.0
5,Accesos telefonía fija (comercial),[<class 'int'>],0,0.0,100.0
6,Accesos telefonía fija (gobierno),[<class 'int'>],0,0.0,100.0
7,Accesos telefonía fija (otros),[<class 'int'>],0,0.0,100.0

Añadimos columna id

In [184]:
df_acceso_provincia_tel_fija["acceso_tel_fija_provin_id"] = df_acceso_provincia_tel_fija.index

Eliminamos espacios, parentesis para no tener problemas en las bases de datos

In [185]:
df_acceso_provincia_tel_fija.columns = df_acceso_provincia_tel_fija.columns.str.replace(" ", "_")
df_acceso_provincia_tel_fija.columns = df_acceso_provincia_tel_fija.columns.str.replace("(", "")
df_acceso_provincia_tel_fija.columns = df_acceso_provincia_tel_fija.columns.str.replace(")", "")

In [186]:
df_acceso_provincia_tel_fija.head()

,Año,Trimestre,Provincia,Accesos_telefonía_fija_total,Accesos_telefonía_fija_hogares,Accesos_telefonía_fija_comercial,Accesos_telefonía_fija_gobierno,Accesos_telefonía_fija_otros,acceso_tel_fija_provin_id
0,2022,4,Buenos Aires,3128431,2802796,264038,12029,49568,0
1,2022,4,Capital Federal,1563142,1400437,131928,6010,24767,1
2,2022,4,Catamarca,25083,22473,2117,96,397,2
3,2022,4,Chaco,64683,57950,5459,249,1025,3
4,2022,4,Chubut,54249,48601,4579,209,860,4

Procedemos a cargar el archivo en nuestra basede datos

In [187]:
df_acceso_provincia_tel_fija.to_sql("acceso_telefonia_fija_provinvia", con=conexion_bd.engine, index= False, if_exists="append")

864